@{
    ViewData["Title"] = "ConvertCash";

    var allcontent = ViewBag.ConversionRates as API_Obj;

    var baseCurrency = ViewBag.BaseCurrency as string;
    var targetCurrency = ViewBag.TargetCurrency as string;
    var conversionRate = ViewBag.ConversionRate as double?;
    var valueForConverte = ViewBag.valueForConverte as string;
    var tempValueForConverte = ViewBag.tempValueForConverte as string;
    var showValue = ViewBag.showValue as string;

    var error = ViewBag.Error as string;

}

<html lang="pt-br">
  
    <div class="text-center">

        <h1 class="display-4">ConvertCash</h1>

    </div>

    <div class="text-center mt-5">

        <form method="post" class="row g-2">

            <div class="col-4">
                <input type="text" class="form-control" name="tempBaseCurrency" placeholder="Moeda base (Ex: USD)" maxlength="3" required />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="tempTargetCurrency" placeholder="Moeda destino (Ex: BRL)" maxlength="3" required />
            </div>
            <div class="col-4">
                <input id="inputValue" type="number" class="form-control" name="tempValueForConverte" placeholder="Valor para converter (Ex: 1,00)" required @* maxlength="8" *@ />
            </div>

            <div class="mt-lg-5">
                <button class="btn btn-outline-dark" type="submit">Converter</button>
            </div>

        </form>

    </div>


    @if (allcontent != null && conversionRate != null)
    {
        <div class="text-center mt-5">
            <h3>Resultado de Conversão</h3>

            <p>Base: @baseCurrency</p>
            <p>Destino: @targetCurrency</p>
            <p>Taxa: @conversionRate</p>

            <p style="font-size:x-large"> <strong> @showValue </strong> </p>
        </div>

        <div class="text-center mt-5">
            <button id="btnShowModal" class="btn btn-outline-dark" type="button" onclick="copybutton()" data-bs-toggle="modal" data-bs-target="#copyModal"> Copiar Conversão </button>

            <a href="/" action="@Url.Action("Index","CheckConvert")" class="btn btn-outline-success">Nova Conversão</a>
        </div>
    }
    else if (!string.IsNullOrEmpty(error))
    {
        <div class="text-center mt-5">
            <p class="text-danger">@error</p>
        </div>
    }


    <div>
    @{var allText = tempValueForConverte + " " + baseCurrency + " = " + valueForConverte + " " + targetCurrency;}
        <input id="inputDNone" type="text" class="d-none" name="inputHide" value="@allText"/>
    </div>


@*  ///////////////////////////////////// - INICIO - MODALS - ///////////////////////////////////// *@

<div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" style="color: blue">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body text-center">
                <strong> Resultado copiado com sucesso! </strong>
            </div>

        </div>
    </div>
</div> 

@*  ///////////////////////////////////// - FIM - MODALS - ///////////////////////////////////// *@


@section Scripts {

    <script>

        function copybutton() {
            let copyAll = document.getElementById("inputDNone");

            copyAll.select();

            navigator.clipboard.writeText(copyAll.value);
            document.exeallcontentommand("copy");
        }


        $(function () {
            $('#copyModal').on('show.bs.modal', function () {
                var myCopyModal = $(this);
                clearTimeout(myCopyModal.data('hideInterval'));
                myCopyModal.data('hideInterval', setTimeout(function () {
                    myCopyModal.modal('hide');
                }, 3000));
            });
        });


        $(document).ready(function () {
            $("#inputValue").keyup(function () {
                $("#inputValue").val(this.value.match(/[0-9]*/));
            });
        });


    </script>

}

</html>
